body
{
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
}

li
{
    margin: 0 0 20px 0;
}

footer
{
    font-size: .5em;

    width: 100%;
    padding: 10px 0;
}
